<div class= "container-xx" >
  <div  class="myDiv" >
   </div>
</div>   
<div class="d-flex flex-nowrap">
      <div class="order-xl-12 p-2 myDiv2">
            <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate  >
                  <div class="form-group">
                        <label for="email"><b> Nouveau Mot de passe : </b></label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required password #password="ngModel" />
                  </div><br>
                  <div class="form-group" >
                        <div id="center"> <button class="btn btn-primary btn-block" (click)="onSubmit()" > Reinitialiser </button> </div>
                        <br>  
                        <div id="center" > <a routerLink="/auth/login"> Vous avez déjà un compte?</a> </div></div> <br>
            </form>
      </div>
</div>
