<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:1px;">
    <a href="#home" class="w3-bar-item w3-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="26" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
      </svg>
    </a>
    <div class="w3-right w3-hide-small">
      <a  class="w3-bar-item w3-button" routerLink="/admin/dashboard">Dashboard</a>
      <a  class="w3-bar-item w3-button" routerLink="/dashboard/admin">Liste des Clients</a>
      <a class="w3-bar-item w3-button" routerLink="/dashboard/admin/liste-categorie">Liste des categories</a>
      <a class="w3-bar-item w3-button" routerLink="/dashboard/admin/list-test" >Liste des Tests</a>
      <a href class="w3-bar-item w3-button" (click)="Deconnexion()">Deconnexion</a>   
    </div>
  </div>  
</div>
<br> <br> <br> <br> <br> <br> 
<div class="container">
  <div class="card shadow mb-14" style="width: 900px; margin: auto;">
    <div class="card-body ">
      <div style="width: 700px; margin: auto;">
        <div class="submit-form">
          <form  name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <h1> Ajouter Categorie  </h1> <br>
            <div class="alert alert-success"  *ngIf="isSuccessful" >Categorie ajouté</div>
              <table class="table table-striped" >
                <tr>
                  <td>
                    <div class="form-group">
                      <label for="label"> <b> Titre </b> </label> 
                      <input type="text" class="form-control" id="label" required [(ngModel)]="categorie.label" name="label" #label="ngModel"/> 
                        <div id="erreur" role="alert" *ngIf="label.errors && f.submitted" >
                          <div *ngIf="label.errors.required">categorie est obligatoire</div> 
                        </div>
                    </div>
                  </td>
                </tr>
              </table>
               <button id="btncenter"  class="btn btn-success">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


