<div class="container">
  <div class="card shadow mb-14" style="width: 900px; margin: auto;">
    <div class="card-body ">
      <div style="width: 700px; margin: auto;">
        <div class="submit-form">
        <form  name="form" #f="ngForm" novalidate>
            <h1> Ajouter Question  </h1> <br>
            <div class="alert alert-success"  *ngIf="isSuccessful" >Question ajouté 
            <!--<button  class="btn btn-success" (click)="ajuterplus()" style="margin-left:100px;">Ajouter + </button>-->
             </div>
              <div class="form-group">
                  <label for="label">Question ?</label>
                  <input type="text" class="form-control" id="label" required [(ngModel)]="Question.label"  name="label" #label="ngModel" />
                    <div id="erreur" role="alert" *ngIf="label.errors && f.submitted" >
                      <div *ngIf="label.errors.required">Titre est obligatoire</div> 
                    </div>
              </div>

            <h1> Ajouter reponse  </h1>
            <table class="table table-striped">
            <tr>
            <td>
              <div class="form-group">
                  <label for="label"> <b> Reponse </b></label>
              </div>
            </td>
            <td>
              <div class="form-group">
                  <label for="label"> <b> Correcte ? </b></label>
                 
              </div>
            <td>
            </tr>
            <tr>
              <td>
                  <input type="text"   class="form-control" id="label" required  [(ngModel)]="Reponse1.label" name="label0"  minlength="6" #label0="ngModel" required/>
                   <!--<div id="erreur" role="alert" *ngIf="label0.errors && f.submitted" >
                    <div *ngIf="label0.errors.required">Reponse est obligatoire</div>
                  </div>-->
              </td>
              <td>
                  <input type="checkbox" class="form-checkbox" id="checkbox" value="True" name="interest" [(ngModel)]="Reponse1.est_correct" >
              </td>
              </tr>
              <br>
              <tr>
                <td>
                    <input type="text" class="form-control" id="label1" required  [(ngModel)]="Reponse2.label" name="label1"  minlength="6" #label1="ngModel" required/>
                  <!-- <div id="erreur" role="alert" *ngIf="label1.errors && f.submitted" >
                    <div *ngIf="label1.errors.required">Reponse est obligatoire</div>
                  </div>-->
                </td>
                <td>   
                      <input type="checkbox" class="form-checkbox" id="1" value="1" required  name="interest" [(ngModel)]="Reponse2.est_correct" >
                </td>
              </tr>
              <br>
              <tr>
                <td>
                      <input type="text" class="form-control" id="label2" required  [(ngModel)]="Reponse3.label"  name="label2" #label2="ngModel" />
                    <!-- <div id="erreur" role="alert" *ngIf="label2.errors && f.submitted" >
                    <div *ngIf="label2.errors.required">Reponse est obligatoire</div>
                  </div>-->
                </td>
                <td>
                      
                        <input type="checkbox" class="form-checkbox" id="1" value="1" required  name="interest" [(ngModel)]="Reponse3.est_correct" >
                </td>
              </tr><br>
              <tr>
                <td>
                      <input type="text" class="form-control" id="label4" required  [(ngModel)]="Reponse4.label" name="label4" #label4="ngModel"/>
                    <!--<div id="erreur" role="alert" *ngIf="label4.errors && f.submitted" >
                    <div *ngIf="label4.errors.required">Reponse est obligatoire</div>
                  </div>-->
                </td>
                <td>
                       
                        <input type="checkbox" class="form-checkbox" id="1" value="1" required  name="interest"[(ngModel)]="Reponse4.est_correct" >
                </td>
              </tr>          
            </table>
            <a routerLink="/dashboard/admin/list-test"> 
            <button  class="btn btn-success" (click)="Ajouter()">Ajouter et quittez </button></a> 
            <button  class="btn btn-success" (click)="ajuterplus()">Ajouter plus </button>
          </form>
           
          </div>     
      </div>     
    </div>     
  </div>     
</div>